<h1>{{title}}</h1>
<p>Welcome to your {{title}}</p>
<div>
  {{#each messages}}
    <h2>{{this.user}}</h2>
    <p>Message: {{this.text}}</p>
    <p>Posted: {{this.posted}}</p>
  {{/each}}
</div>
<a href="/new">Post new message</a>